appdirs==1.4.4
autopep8==1.5.7
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cssselect==1.1.0
et-xmlfile==1.1.0
fake-useragent==0.1.11
Flask==2.0.1
flask-cors=3.0.10
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
numpy==1.20.1
openpyxl==3.0.7
pandas==1.2.2
parse==1.19.0
pycodestyle==2.7.0
pyee==8.1.0
pyppeteer==0.2.5
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
requests-html==0.10.0
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
tqdm==4.61.0
urllib3==1.26.5
w3lib==1.22.0
webdriver-manager==3.4.2
websockets==8.1
Werkzeug==2.0.1
