<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Random Beer App</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1>Successfully scraped:</h1>
        <h1>{{ title }}</h1>
      </div>
      <br />
      <div class="container">
        <button class="button is-large" onClick="window.location.reload();">
          Refresh
        </button>
      </div>
    </div>
  </section>
</html>
